
<footer class="flex items-center justify-between bg-slate-50">
    <p class="text-sm text-gray-500">&copy; Copyright <%= new Date().getFullYear(); %> &bull; All Rights Reserved &bull; Built with Nodejs &amp; Xamp</p>

    <div class="flex items-center h-20 pl-10 mt-3 ">
        <a href="#" class="mx-2 text-sm text-gray-500 transition-colors duration-300 hover:text-gray-500 " > Teams </a>

        <a href="#" class="mx-2 text-sm text-gray-500 transition-colors duration-300 hover:text-gray-500 " > Privacy </a>

        <a href="#" class="mx-2 text-sm text-gray-500 transition-colors duration-300 hover:text-gray-500 " > Cookies </a>
    </div>
</footer>